@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to kino.si</h1>
    <p>Seminar work for IS</p>
    <br>
    <p>Made by:</p>
    <p>Domen Antlej, Jaka Rizmal</p>
</div>
